<%= form_for([@course,@test, @question]) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> Prohibió salvar esta pregunta:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Titulo" %>
    <%= f.text_area :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
