<%= form_for(course) do |f|%>
<div class="row">
  <% if course.errors.any? %>
    <div id="error_explanation">

      <ul>
 <% course.errors.full_messages.each do |message| %>
<div class="alert alert-warning">
<%= message %>
<button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
<%= f.label :nombre, "Nombre del curso", class: "col-sm-2" %>
<%= f.text_field :nombre, class: "validate form-control col-sm-5" %>
  </div>

<br>
<br>
<br>
<div class="form-group">
	<label class="control-label col-sm-2" for="textarea">Descripción</label>
    <%= f.text_area :descripcion,  class: "form-control" %>
    </div>

  <div class="actions">
    <button class="btn btn-primary" type="submit" name="action">
    <i class="material-icons right">Crear curso</i>
  </button>
  </div>

<% end %>
