<%= form_for(course) do |f|%>
<div class="row">
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="input-field col s6">
    <!-- <%= f.label :nombre, "Nombre del curso" %> -->
	<label class="control-label" for="textinput">Nombre del curso</label>		
    <%= f.text_field :nombre, class:"validate" %>
  </div>
</div>


<div class="row">
  <div class="input-field col s6">
    <!-- <%= f.label :descripcion, "Descripción" %> -->
	<label class="control-label" for="textarea">Descripción</label>
    <%= f.text_area :descripcion, class:"materialize-textarea" %>
  </div>
</div>

  <div class="actions">
    <button class="btn btn-primary" type="submit" name="action">
    <i class="material-icons right">Enviar</i>
  </button>
  </div>

</div>
<% end %>

