<%= form_for([@course,@test, @question,@answer_one]) do |f| %>
  <% if answer_one.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% answer_one.errors.full_messages.each do |message| %>
        <div class="alert alert-warning">
<%= message %>
<button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :correcta , "correcta" %>
    <%= f.text_field :correcta, class: "form-control" %>
  
    <%= f.label :opc1, "Opción 1" %>
    <%= f.text_field :opc1, class: "form-control" %>


    <%= f.label :opc2, "Opción 2" %>
    <%= f.text_field :opc2, class: "form-control" %>
 

    <%= f.label :opc3, "Opción 3" %>
    <%= f.text_field :opc3, class: "form-control" %>
 

  <div class="actions">
    <button class="btn btn-primary" type="submit" name="action">
    <i class="material-icons right">Guardar respuestas</i>
  </button>
  </div>




<% end %>

